@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgrey;
    transition: .5s;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header { 
    background-color: #2C3E50;
    padding: 20px;
}

header > h1 {
    text-align: center;
    margin: auto;
    color: white;
}

#option {
    background-color: rgb(59, 59, 59);
    color: white;
    display: none;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

nav {
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 20px;
}

nav > ul {
    display: inline-block;
    justify-content: center;
    list-style: none;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    width: 200px;
}

ul > li {
    visibility: hidden;
    padding: 5px;
}

ul:hover > li {
    visibility: visible;
}

ul.mv:hover > h4 {
    background-color: #1ABC9C;
    border-radius: 50px;
    margin: auto;
    width: 50px;
    transition: 0.2s;
}

ul.mv > li > a:hover {
    background-color: #1ABC9C;
    border-radius: 5px;
    transition: 0.3s;
}

ul.cross:hover > h4 {
    background-color: #C0392B;
    border-radius: 50px;
    margin: auto;
    width: 50px;
    transition: 0.2s;
}

ul.cross > li > a:hover {
    background-color: #C0392B;
    border-radius: 5px;
    transition: 0.3s;
}

ul.treining:hover > h4 {
    background-color: #FF9800;
    border-radius: 50px;
    margin: auto;
    width: 100px;
    transition: 0.2s;
}

ul.treining > li > a:hover {
    background-color: #FF9800;
    border-radius: 5px;
    transition: 0.3s;
}

ul.utility:hover > h4 {
    background-color: #811abc;
    border-radius: 50px;
    margin: auto;
    width: 80px;
    transition: 0.2s;
}

ul.utility > li > a:hover {
    background-color: #811abc;
    border-radius: 5px;
    transition: 0.3s;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
    display: block; /* Faz o link ocupar toda a área disponível */
    padding: 10px; /* Aumenta a área de clique */
    text-align: center; /* Centraliza o texto */
}

main {
    width: 90vw;
    background-color: #5a5a5a;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, tr, th, td {
    margin: auto;
    border: 2px solid black;
    background-color: grey;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
} 

article > h1 {
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

article > p {
    color: white;
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

article > h3 {
    color: white;
    text-align: justify;
    margin-bottom: 20px;
    text-align: center;
}

table th {
    color: cyan;
}

table, tr, th, td {
    border: 2px solid black;
    background-color: grey;
    color: whitesmoke;
    font-weight: bold;
} 

.step {
    text-align: center;
}

img {
    max-height: 500px;
    width: max(200px, 50vw);
}

footer {
    background: #636363;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mantém espaço entre o h1 e o trilho */
}

.trilho {
    width: 70px;
    height: 30px;
    background-color: #4d4d4d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px; /* Adiciona um pequeno padding para garantir alinhamento */
    box-sizing: border-box;
}

.trilho .indicador {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark {
    background-color: #c3c3c3;
}

.trilho.dark .indicador {
    left: 40px;
    background-color: #fff;
}

body.dark {
    background-color: rgb(218, 218, 218);
}

body.dark h1{
    color: #000;
}

main.dark {
    background-color: white;
}

main.dark p {
    color: #000;
}

main.dark h3 {
    color: #000;
}

table.dark td{
    color: #000;
    background-color: rgb(218, 218, 218);
}

table.dark {
    background-color: rgb(218, 218, 218);
}

table.dark th {
    color: rgb(2, 145, 145);
    background-color: rgb(218, 218, 218);
}

header.dark {
    background-color: #6fa6dd;
}